.page-loader-wrapper > * { /* Targets all direct children of .page-loader-wrapper */
    visibility: hidden;
}

.page-loader {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--swatch-dark--background, #FFF); /* Fallback to white if the variable is not defined */
    transition: opacity 150ms ease-in-out; 
    z-index: 990;
}

/* Specific rule for dark mode */
.page-loader.is--dark-mode {
    background: var(--swatch-dark--background);
}

/* Specific rule for light mode */
.page-loader.is--light-mode {
    background: var(--swatch-light--background);
}
