.page-loader-wrapper > * { /* Targets all direct children of .liquid_page-wrapper */
    visibility: hidden;
}

.page-loader {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--swatch-dark--background, #FFF); /* Fallback to white if the variable is not defined */
    transition: opacity 200ms ease-in-out; 
    z-index: 9000;
}
