* {
    box-sizing: border-box;
}

.wrapper__navigation-content--vrwnm {
    max-width: 95%;
    width: 100%;
    transition: max-width 0.3s; 
    margin-left: auto;
    margin-right: auto;
}

.wrapper__navigation-content--vrwnm.animated {
    max-width: 97.5rem
}

.wrapper__main-navigation--vrwnm, .header__mobile-nav--bvhjd {
    position: sticky;
    background-color: transparent;
    transition: position 0.3s, background-color 0.3s, width 0.3s;
}

.wrapper__main-navigation--vrwnm.fixed, .header__mobile-nav--bvhjd.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
}

.wrapper__main-navigation--vrwnm.expanded, .header__mobile-nav--bvhjd.expanded {
    width: 100vw;
    background-color: var(--nav-bar);
}
