.page-loader-wrapper > * { /* Targets all direct children of .page-loader-wrapper */
    visibility: hidden;
}

.page-loader {
    display: flex; /* Use flexbox to center the child content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
    transition: opacity 200ms ease-in-out;
    background-color: var(--swatch-dark--background, #FFF); /* Use background-color for the loader background */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="%23FF156D" stroke="%23FF156D" stroke-width="15" width="30" height="30" x="25" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></rect><rect fill="%23FF156D" stroke="%23FF156D" stroke-width="15" width="30" height="30" x="85" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></rect><rect fill="%23FF156D" stroke="%23FF156D" stroke-width="15" width="30" height="30" x="145" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></rect></svg>'); /* SVG loader as background */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image (SVG loader) */
}

/* Specific rule for dark mode */
.page-loader.is--dark-mode {
    background-color: var(--swatch-dark--background);
}

/* Specific rule for light mode */
.page-loader.is--light-mode {
    background-color: var(--swatch-light--background);
}
