* {
    box-sizing: border-box;
}

.navigation__container {
    max-width: 95%;
    width: 100%;
    transition: max-width 0.3s; 
    margin-left: auto;
    margin-right: auto;
}

.navigation__container.animated {
    max-width: 85rem
}

.navigation, .navigation__mob {
    position: sticky;
    background-color: transparent;
    transition: position 0.3s, background-color 0.3s, width 0.3s;
}

.navigation.fixed, .navigation__mob.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
}

.navigation.expanded, .navigation__mob.expanded {
    width: 100vw;
    background-color: var(--nav-bar);
}
