.CodeMirror {
    height: 100% !important;
}

.is--dark-mode {
    --color1: #606060; 
    --color-true-false: #e45f35;
    --color-text-inside: #7f8596;
    --color4: #606060;
    --color5: #606060;
    --color-prefix: #ffffff;
    --color-text: #7f8596;
    --color-number: #3772ff;
    --color-dots: rgba(255, 255, 255, 0.5);
    --color-line-numbers: rgba(255, 255, 255, 0.5);
    --color-comment: rgba(255, 255, 255, 0.25);
    --color-selection: rgba(0, 0, 0, 0.1);
    --color-tooltip-icon: rgba(255, 255, 255, 0.5);
}

.is--light-mode {
    --color1: #606060; 
    --color-true-false: #e45f35;
    --color-text-inside: #7f8596;
    --color4: #606060;
    --color5: #606060;
    --color-prefix: #31343f;
    --color-text: #7f8596;
    --color-number: #3772ff;
    --color-dots: rgba(0, 0, 0, 0.5);
    --color-line-numbers: rgba(0, 0, 0, 0.5);
    --color-comment: rgba(0, 0, 0, 0.25);
    --color-selection: rgba(0, 0, 0, 0.1);
    --color-tooltip-icon: rgba(0, 0, 0, 0.25);
}

.cm-s-default .CodeMirror-gutters,
.cm-s-default.CodeMirror {
    background-color: transparent !important;
    color: var(--color-text) !important;
    border: none;
}

.highlighted-line {
    background-color: rgba(56, 99, 255, 0.1);  /* Light blue background */
    border-left: 1px solid #3863ff;  /* Solid blue left border */
}

.cm-s-default .CodeMirror-gutters {
    color: #131313;
}

.cm-s-default .CodeMirror-cursor {
    border-left: solid thin var(--color-text);
}

.cm-s-default .CodeMirror-linenumber {
    color: var(--color-line-numbers);
}

.cm-s-default .CodeMirror-selected {
    background: var(--color-selection);
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
    background: var(--color-selection);
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
    background: var(--color-selection);
}

.cm-s-default span.cm-comment {
    color: var(--color-comment);
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
    color: var(--color-text-inside);
}

.cm-s-default span.cm-number {
    color: var(--color-number);
}

.cm-s-default span.cm-variable {
    color: var(--color1);
}

.cm-s-default span.cm-variable-2 {
    color: var(--color-text);
}

.cm-s-default span.cm-def {
    color: var(--color1);
}

.cm-s-default span.cm-operator {
    color: var(--color-true-false);
}

.cm-s-default span.cm-keyword {
    color: var(--color-true-false);
}

.cm-s-default span.cm-atom {
    color: var(--color-prefix);
}

.cm-s-default span.cm-meta {
    color: var(--color-dots);
}

.cm-s-default span.cm-tag {
    color: var(--color-true-false);
}

.cm-s-default span.cm-attribute {
    color: var(--color1);
}

.cm-s-default span.cm-qualifier {
    color: var(--color1);
}

.cm-s-default span.cm-property {
    color: var(--color4);
}

.cm-s-default span.cm-builtin {
    color: var(--color1);
}

.cm-s-default span.cm-type,
.cm-s-default span.cm-variable-3 {
    color: var(--color5);
}

.cm-s-default .CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: var(--color-text) !important;
}

.cm-tooltip {
    position: absolute;
    z-index: 9999; /* Ensure it's above other content */
}


data-tooltip {
    display: none;
}

.copy-code-popup {
    position: fixed;
    right: 20px;
    bottom: -50px; /* Initially positioned outside the screen for the transition effect */
    padding: 1rem 10rem 1rem 1rem; /* top right bottom left */
    background-color: #FAFBFE;
    color: #12141d;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d8e3f0;
    opacity: 0;
    transition: bottom 0.3s, opacity 0.3s;
    z-index: 1000; /* High z-index to ensure it appears above other elements */
    width: auto; /* Make sure the width is determined by content */
}

.show-popup {
    bottom: 20px;
    opacity: 1;
}

@media (max-width: 599px) {
    .cm-tooltip-icon {
        display: none !important;
    }
}
